* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serief';

}


 body 
{
    font-family: Arial, sans-serif;
    background-color: #fffefe;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}


/* Style for the section */
section {
    justify-content: center;
    background-color: #c7a3a3;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

/* Style for headers */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Style for the form collection */
.collection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Style for labels */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for input fields */
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style for buttons */
button {
    width: 100%;
    height: 35px;
    background: #0800ff;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    color: #ffff0b;
   
}